body{
  margin: 0;
  font-family: Roboto;
  background-image: linear-gradient(180deg , red , orange , white);
}

.container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  background-color: white;
  height: 350px;
  width: 300px;
  padding: 30px;
  border-radius: 20px;
}

h2{
  margin: 0;
  text-align: center;
}

.amount-div{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.from-to{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 50px;
  padding-bottom: 20px;
}

.from , .to{
  display: flex;
  align-items: center;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 0px 5px 0px 5px;
}

img{
  width: 30px;
  height: 30px;
}

.from-para{
  margin: 0;
}

.to-para{
  margin: 0;
}

.amount-para{
  margin: 0;
}

.msg{
  font-weight: 450;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-top: 20px;
}

#amount{
  width: 100%;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid grey;
  border-radius: 10px;
}

#from-drop , #to-drop{
  border: none;
}

.button-div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.but{
  background-color: rgb(229, 116, 64);
  color: white;
  border: none;
  border-radius: 10px;
  width: 80%;
  padding: 10px;
  font-size: 20px;
  margin-top: 10px;
}

.but:hover{
  cursor: pointer;
}
